.index-banner {
    height: 396px;
    position: relative;
    // border:1px solid red;
  }
.banner-container {
  width: 1920px;
  position: absolute;
  left: 50%;
  margin-left: -960px;
  z-index: 2;
  height: 396px;
  // overflow:hidden;
}
.banner-image {
  width: 200px;
  position: absolute;
  right: 0px;
  z-index: 3;
}
// 侧边服务窗
.service {
  height: 252px;
  width: auto;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -126px;
  z-index: 99999;
  .list-item {
    background-color: #1095e3;
    width: 61px;
    height: 62px;
    margin-bottom: 1px;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .s0 {
    background-image: url("../images/yy_service.png");
    position: relative;
  }
  .s1 {
    background-image: url("../images/dh_service.png");
  }
  .s2 {
    background-image: url("../images/fx_service.png");
  }
  .s3 {
    background-image: url("../images/top_service.png");
  }
  .s-count {
    position: absolute;
    left: -8px;
    top: -10px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 50%;
    display: block;
    font-size: 10px;
  }
}

// 名医团队
.doc-team {
  // box-sizing: border-box;
}

.title {
  padding: 15px 15px 8px 15px;
  border-bottom: 2px solid #1095e3;
  box-sizing: border-box;
}

.title>h3 {
  font-size: 22px;
  color: black;
  margin-right: 10px;
}

.title>span {
  font-size: 14px;
  line-height: 35px;
  color: #bcbcbc;
}

.team-members {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #E4E4E4;
  position: relative;
}

.team-tab li {
  width: 74px;
  height: 32px;
  line-height: 32px;
  background: #1095e3;
  color: white;
  text-align: center;
  border-radius: 6px;
}

.team-tab .team-bg {
  background: #444;
}

.team-tab .tab-bg {
  background: #444;
}

.team-tab li:not(last-child) {
  margin-right: 8px;
}

.team-tab li a {
  font-size: 14px;
}

.tab-content {
  margin-top: 30px;
}

.tab-left {
  margin-right: 20px;
  position: relative;
  transition: all .5s linear;
}

.tab-left:hover {
  transform: translateY(-8px);
}

.tab-right {
  width: 73%;
}

.tab-right h2 {
  color: #1095e3;
  font-size: 32px;
}

.tab-right .sp {
  font-size: 20px;
  color: #666;
  border-radius: 4px;
  display: inline-block;
  margin-left: 8px;
  line-height: 20px;
  margin-top: 8px;
  background-color: #eee;
  padding: 5px;
  border: 1px solid #ccc;
}

.pr-ad {
  margin-top: 15px;
  li {
    width: 100%;
    font-size: 14px;
    color: #666;
    height: 26px;
    line-height: 26px;
    background: url("../images/add-bg.png") left center no-repeat;
    text-indent: 17px;
  }
}

.index-skill {
  margin-top: 20px;
  margin-bottom: 25px;
}

.index-skill li {
  font-size: 14px;
  margin-right: 13px;
  background: #EEEEEE;
  line-height: 15px;
  color: #666666;
  .sk1 {
    background: #1095e3;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  .sk8 {
    color: #2792ec;
    padding-left: 5px;
    padding-right: 5px;
  }
  .sk8:hover {
    background: #1095e3;
    color: white;
  }
}

.order-time {
  font-size: 14px;
  height: 110px;
  text-align: center;
  .sw {
    width: 58px;
    height: 30px;
    border: 1px solid #e4e4e4;
  }
  .td-bg1 {
    background: url("../images/table-left.png") center center no-repeat;
  }
  .td-bg1:hover {
    cursor: pointer;
    background: url("../images/table-left2.png") center center no-repeat;
  }
  .td-bg2 {
    background: url("../images/table-right.png") center center no-repeat;
  }
  .td-bg2:hover {
    cursor: pointer;
    background: url("../images/table-right2.png") center center no-repeat;
  }
}

.yuyue {
  display:block;
  width: 44px !important;
  height: 26px !important;
  line-height: 26px;
  text-align: center;
  color: white;
  background: #337ab7;
  border: 0;
  border-radius: 4px;
  letter-spacing: 2px;
  padding-left: 3px;
}
.yuyue:hover {
  background-color: #2e6da4;
  cursor: pointer;
}
.index-apt {
  box-sizing: border-box;
  .apt-time {
    width: 700px;
    position: relative;
    overflow: hidden;
    .time {
      width: 1402px;
      position: relative;
    }
  }
  table {
    border-collapse: collapse;
    height: 115px;
    box-sizing: border-box;
  }
  td {
    width: 100px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
  }
  .bor-rig {
    border-left: 0px solid white;
  }
  .bor-l {
    border-right: 0px solid white;
  }
}

// 健康咨询
.index-Health {
  margin-top: 20px;
}

.H-info {
  margin-top: 10px;
  .xon-info {
    height: 115px;
  }
  .word {
    width: 235px;
    height: 115px;
    h6 {
      font-size: 16px;
    }
    .des {
      color: #888;
      height: 88px;
      text-indent: 2em;
      line-height: 21px;
      margin-top: 10px;
      font-size: 14px;
      a {
        color: #333;
      }
      a:hover {
        color: #1095e3;
      }
    }
    a {
      color: #1095e3;
    }
  }
  .info {
    width: 434px;
    box-sizing: border-box;
    .news-list {
      margin-top: 18px;
      .list-item {
        font-size: 14px;
        color: #333;
        line-height: 28px;
        span {
          color: #888;
        }
      }
      .list-item:hover {
        color: #1095e3;
      }
    }
    .context {
      border: 1px solid #e4e4e4;
      margin-top: 10px;
      padding: 20px;
      box-sizing: border-box;
      .img-box {
        height: 115px;
        img {
          width: 142px;
          height: 112px;
        }
      }
    }
    h5 {
      font-size: 16px;
      color: black;
      margin-left: 20px;
    }
    .more {
      display: inline-block;
      border-left: 1px solid #1095e3;
      padding: 0 6px;
      font-size: 12px;
      color: #1095e3;
    }
  }
  .info-topic {
    width: 292px;
    box-sizing: border-box;
  }
  .topic-list {
    border: 1px solid #e4e4e4;
    padding: 0 15px;
    margin-top: 10px;
    height:343px;
    .list-item {
      padding: 15px 0;
      border-bottom: 1px dotted #bcbcbc;
      .list-p {
        width: 128px;
        line-height: 20px;
        font-size: 12px;
        color: #999;
      }
    }
  }
  .info-media {
    margin: 0 20px;
  }
}

//  会议设备环境 
.hospital {
  margin-top: 40px;
}

.h-des {
  height: 264px;
  width: 886px;
  margin-bottom: 20px;
  border: 1px solid #E4E4E4;
}

.list-tab li {
  width: 221.5px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  font-size: 18px;
  background-color: #fbf3f3;
  border-right: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-bottom: 3px solid #ccc;
  a {
    color: #666;
    font-weight: 500;
  }
  span {
    font-size: 14px;
    margin-left: 10px;
  }
}

.list-tab .bor-color {
  border-bottom: 3px solid #1095E3;
}

.tab-content {
  p {
    color: #333;
    font-size: 14px;
  }
  .con .con-list li {
    width: 221.5px;
    text-align: center;
    img {
      width: 169px;
      height: 132px;
    }
  }
}

.list-left,
.list-right img {
  cursor: pointer;
} // 合作平台
.index-cooperation {
  margin-top: 20px;
  margin-bottom: 40px;
  .coo-pic {
    border: 1px solid #eee;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .coo-pic:hover {
    border: 1px solid #ddd;
  }
  li,
  p {
    margin-left: 32px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
  p:hover {
    color: #23527c;
  }
  .pic1 {
    margin-left: 0;
  }
}

// 讲堂
.hc-video {
  h3 {
    // width: 265px;
    font-size: 18px;
    height: 28px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 3px solid #1095e3; // padding-top: 10px;
    // padding-left: 15px;
    // padding-right: 10px;
    padding: 4.5px 10px 4.5px 20px;
  }
  .f-s {
    font-size: 14px;
  }
  .more {
    padding: 2px 6px;
    font-size: 12px;
    background: #1095e3;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .a-position {
    position: relative;
  }
  .video-bg {
    position: absolute; // display:block;
    background: url("../images/vedio-hover.png");
    width: 210px;
    height: 140px;
    opacity: 0;
    bottom: 16px;
  }
  .bd li:hover {
    .video-bg {
      bottom: -125px;
      opacity: 0.5;
      transition: bottom .5s ease;
      -webkit-transition: bottom .5s ease;
      -moz-transition: bottom .5s ease;
      -ms-transition: bottom .5s ease;
      -o-transition: bottom .5s ease;
    }
  }
  p {
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-top: 10px;
  }
  .slider-box {
    position: relative;
    width: 290px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .bd {
    width: 210px;
    position: relative;
    overflow: hidden;
    margin-left: 42px;
    padding-top: 38px;
    margin-bottom: 20px;
    ul {
      width: 420px;
    }
  }
  .p-a1 {
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -25px;
    display: block;
  }
  .p-a2 {
    position: absolute;
    right: 3%;
    top: 50%;
    margin-top: -25px;
    display: block;
  }
}